<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sipro.mysipro">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".P_supianor"></activity>
        <activity android:name=".P_eddy" />
        <activity android:name=".P_abi" />
        <activity android:name=".P_saifullah" />
        <activity android:name=".P_lindawati" />
        <activity android:name=".P_samsudinor" />
        <activity android:name=".P_rusdi" />
        <activity android:name=".P_usman" />
        <activity android:name=".P_mulyadi" />
        <activity android:name=".P_rizkan" />
        <activity android:name=".P_syahbudin" />
        <activity android:name=".P_agus" />
        <activity android:name=".P_bahrul" />
        <activity android:name=".P_hafis" />
        <activity android:name=".P_rusdin" />
        <activity android:name=".P_hanil" />
        <activity android:name=".P_fauzi" />
        <activity android:name=".P_sri" />
        <activity android:name=".P_dimas" />
        <activity android:name=".P_erly" />
        <activity android:name=".P_ahsani" />
        <activity android:name=".P_ifdali" />
        <activity android:name=".Fraksi_ABD" />
        <activity android:name=".Fraksi_IRKS" />
        <activity android:name=".Fraksi_Nasdem" />
        <activity android:name=".Fraksi_DIP" />
        <activity android:name=".Fraksi_PPP" />
        <activity android:name=".Fraksi_Golkar" />
        <activity android:name=".Komisi_III" />
        <activity android:name=".Komisi_II" />
        <activity android:name=".Komisi_I" />
        <activity android:name=".Test_jadwal" />
        <activity android:name=".Test" />
        <activity android:name=".Akd_Kehormatan" />
        <activity android:name=".Akd_Legislasi" />
        <activity android:name=".Akd_Musyawarah" />
        <activity android:name=".Badan_Anggaran" />
        <activity android:name=".Pimp_c" />
        <activity android:name=".Pimp_b" />
        <activity android:name=".Pimp_a" />
        <activity android:name=".Akd_Anggaran" />
        <activity android:name=".Pimpinan" />
        <activity android:name=".InputTest" />
        <activity android:name=".Profil" />
        <activity android:name=".Absensi" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity android:name=".Kehadiran" />
        <activity android:name=".Presensi" />
        <activity android:name=".Jadwal" />
        <activity android:name=".Data" />
        <activity android:name=".Beranda" />

        <service
            android:name=".fcm.FirebaseMessageReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>